<!-- Description: Shows information of an account. --
  -- Author: Thomas Dean <mrdean@yeah.net> --
  -- Date: 2013-02-01 -->

<h2>Account Information</h2>
<!-- user.is_authenticated returns True if any user has logged in. And --
  -- if any user has logged in, user.username is the username of the --
  -- user logged in. -->
{% if user.is_authenticated and user.username == acc.username%}
<a href="/account/modify/">Modify</a>
{% endif %}
<table>
  <tr>
    <td>Username</td>
    <td>{{ acc.username }}</td>
  </tr>
  <tr>
    <td>Sex</td>
    <td>
      {% if acc.sex %}
      Male
      {% else %}
      Female
      {% endif %}
    </td>
  <tr>
    <td>Birthday</td>
    <td>{{ acc.birth }}</td>
  </tr>
  <tr>
    <td>Signature</td>
    <td>{{ acc.signature }}</td>
  </tr>	
</table>
