<!DOCTYPE HTML>
<html>

<head>

<meta http-equiv="Content-Type" content="text/html"; charset="uft-8" />
<title>班级相册</title>
<meta name="keywords" content="classpage photo album" /> 
<meta name="author" contenr="Mt.Moon" />

<style>
    #back
    {
        position:absolute;
        left:10%;
        top:80%;
    }
    #ln
    {
        position:absolute;
        left:20%;
        top:95%;
    }
    #page
    {
        position:absolute;
        left:35%;
        top:90%;
    }
        
</style>
    

</head>

<body  background="{{ STATIC_URL }}photo/bg6.jpg">
    <table border="1" id="list" align="center">
    {% for album in album_list %}
    <tr>
        <td><a href="{{album.url}}">{{album.name}}</a></td>
        <td>{{album.desc}}</td>
    </tr>
    {% endfor %}
    </table>
    
    <p id="page">{{page.current}} / {{page.total}}</p>
    
    <div id="ln">
        {% if page.prev != '' %}
            <button id="last" onclick="href='{{page.prev}}'">上一页</button>
        {% endif %}
        &nbp,&nbp,&nbp
        {% if page.next != ' ' %} 
            <button id="next" onclick="href='{{page.next}}'">下一页</button> 
        {% endif %}
    </div>
    
    <button id="back" onclick="href='{{homepage}}'">返回主页</button>
    
</body>

</html>
