<!DOCTYPE HTML>
<html>

<head>

<meta charset="UFT-8" />
<title>Class Album</title>
<meta name="keywords" content="classpage photo album" /> 
<meta name="author" contenr="Mt.Moon" />

<style>
    #back
    {
        position:absolute;
        left:10%;
        top:80%;
    }
    #ln
    {
        position:absolute;
        left:20%;
        top:95%;
    }
    #page
    {
        position:absolute;
        left:38%;
        top:93%;
    }
        
</style>
    

</head>

<body  background="{{ STATIC_URL }}photo/bg6.jpg">
    <table border="1" id="list" align="center">
    {% for album in album_list %}
    <tr>
        <td><a href="{{album.url}}">{{album.name}}</a></td>
        <td>{{album.desc}}</td>
    </tr>
    {% endfor %}
    </table>
    
    <p id="page">{{page.current}} / {{page.total}}</p>
    
    <div id="ln">
        {% if page.prev != '' %}
            <a id="last" href="{{page.prev}}">last page</a>
        {% endif %}
        {% if page.next != ' ' %} 
            <a id="next" href="{{page.next}}">next page</a> 
        {% endif %}
    </div>
    
    <a id="back" href="{{homepage}}">back to homepage</a>
    
</body>

</html>
