<!DOCTYPT html>
<head>
    <title>Resources</title>
    <meta name="keywords" content="classpage resources" /> 
    <meta name="author" contenr="Mt.Moon" />
    <style>
        #last
        {
            position:absolute;
            left:40%;
            top:90%;
        }
        #next
        {
            position:absolute;
            left:55%;
            top:90%;
        }
        #page
        {
            position:absolute;
            left:42%;
            top:90%;
        }
        #homepage
        {
            position:absolute;
            left:5%;
            top:90%;
        }
     
    </style>
</head>

<body  background="{{ STATIC_URL }}resources/rbg.jpg">
    <h2>Resources Download</h2>
    <p id="page">{{page.current}} / {{page.total}}</p>
    
    {% if page.prev != '' %}
        <button id="last" onclick="href='{{page.prev}}'">last page</button>
    {% endif %}
    
    {% if page.next != '' %}    
        <button id="next" onclick="href='{{page.next}}'">next pagt</button>
    {% endif %}
    
    <button id="homepage" onclick="href=''">Back to homepage</button>
    <table border="1" id="re" align="center">
        {% for catalog in catalog_list %}
        <tr>
            <td><a href="{{catalog.url}}">{{catalog.name}}</a></td>
            <td>{{catalog.desc}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
